<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="PluginsFolder" value="."/>
		<add key="Plugin:Botanist" value="Observatory.Botanist.Botanist, ObservatoryBotanist"/>
		<add key="Plugin:Explorer" value="Observatory.Explorer.Explorer, ObservatoryExplorer"/>
		<add key="Plugin:Herald" value="Observatory.Herald.Herald, ObservatoryHerald"/>
		<add key="Plugin:Bridge" value="Observatory.Bridge.Bridge, ObservatoryBridge"/>
	</appSettings>
	<runtime>
		<assemblyBinding>
			<probing privatePath="plugins" />
		</assemblyBinding>
	</runtime>
</configuration>